@model IEnumerable<UserManagementSystem.Models.User>

<h2 class="text-center">使用者清單</h2>

<p>
    <a href="/Users/Create" class="btn btn-success">新增使用者</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>Email</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/Users/Edit/@user.Id">編輯</a>
                <a class="btn btn-danger btn-sm" href="/Users/Delete/@user.Id">刪除</a>
            </td>
        </tr>
    }
    </tbody>
</table>
